p{
    font-size: 20px;
    color: green;

}
.animate__bounce {
    font-size: 24px;
    color: blue;
}
.animate__zoomInDown {
    font-size: 30px;
    color: red;
}
.animate__flash {
    font-size: 22px;
    color: purple;
}

    
