.icon{
    width: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.box3{
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation: move 4s infinite alternate;
    border-radius: 500px 500px 500px 500px;  
    color: tomato;  
}
@keyframes move {
    0%{
        left: 0;
        top: 0;
    }
    25%{
        left: 200px;
        top: 0;
    }
    50%{
        left: 200px;
        top: 200px;
    }
    75%{
        left: 0;
        top: 200px;
    }
    100%{
        left: 0;
        top: 0;
    }
}
p{
    font-size: 25px;
    line-height: 1;
}
.image{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq0YpKPXTSIdHrTLU2bz_FVapa8Z1qFHtX8A&s');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;


}