*{
   
    background-color: rgb(234, 253, 246);
}
h2{
    text-align: center;
    color: rgb(25, 104, 161);
    font-family: 'Georgia',  serif;
    font-size: 40px;
};
.line1{
    text-align: center;
    font-size: 15px;
    /* color: rgb(25, 104, 161); */
}
.form{
    text-align: center;
    font-size: 15px;
    background-color: white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding: 40px;
    margin: auto;
    max-width: 50%;
    border-radius: 8px;
}
.line2{
    text-align: center;
    font-size: 15px;
}
p{
    text-align: center;
    font-size: large;
    font-family: 'Georgia',  serif;
    

}

button{
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
    background-color: rgb(42, 169, 42);
    color: white;
    border-color: transparent;
    width: 80%;
}
input{
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
    border-color: gray;
    background-color: white;
    border-width: 1px;
    width: 80%;
}
input password{
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
    border-color: gray;
    background-color: white;
    border-width: 1px;
    width: 80%;
}
a{
    text-decoration: none;
    color: rgb(25, 104, 161);
}
a:hover{
    text-decoration: underline;
}