*{

    box-sizing: border-box;
    font-family: 'arial', sans-serif;
    font-size: 160px;
    color: #ffffff;
    text-align: center;
    background-color: black;
    text-transform: uppercase;

}
p{
    text-align: center;





}