table{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #f2f2f2;
    text-align: center;
    padding: 12px;

    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    float:none;
    margin: auto;
    width: 50%;



}
*{
    text-align: center;

}
li{
    list-style: none;
    margin-right: 15px;
    display: inline;
}
.dashboard{
    background-color: #4CAF50;
    color: rgb(251, 247, 5);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.dashboard:hover{
    background-color: #000000;
    color: rgb(253, 253, 252);
    text-decoration: underline;
}
