table{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #f2f2f2;
    text-align: center;
    padding: 12px;

    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    float:none;
    margin: auto;
    width: 50%;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    font-size: 30px;
}
*{
    text-align: center;

}
li{
    list-style: none;
    margin-right: 15px;
    display: inline;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.dashboard{
    position: relative;
    list-style: none;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 25px ;
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}
.dashboard:hover{
    background-color: #000000;
    color: rgb(253, 253, 252);
    text-decoration: underline;
}
form{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;

}
.login-link{
    text-align: left;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    
}
