
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    padding-top: 20px;
    color: blue;
}
.para1
{  
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 20px;
    text-align: left;

}
.para1::first-letter{
    font-size: 40px;
    color: red;
}
.para1::first-line{
   color: rgb(100, 95, 255);
}
.para2{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 20px;
    text-align: left;
}
.para2::first-letter{
    font-size: 40px;
    color: rgb(255, 53, 53);
}
.para2::first-line{
   color: rgb(100, 95, 255);
}
.links
{
    margin: 20px;
    text-align: left;
}
.links a
{
    
    color: rgb(30, 0, 255);
    text-decoration: none;
    border-radius: 5px;
}
.links a:hover
{
    color: rgb(255, 151, 53);
    text-decoration: underline;
}
.links a:visited
{
    color: purple;
    
}
.links a:focus{
    outline: 2px solid orange;

}
footer{
    margin-top: 40px;
  
    text-weight: bold;
}